html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}




  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }

  h1, h2, h3, p {
    text-align: center;
  }

  .gif-image {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  @media (max-width: 600px) {
    /* Adjust styles for smaller screens */
    .container {
      padding: 10px;
    }
  }
