
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&family=Poppins:wght@300&family=Source+Code+Pro:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&family=Poppins:wght@300&family=Roboto&family=Source+Code+Pro:wght@200&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
p{
  text-align:justify;
  line-height: 1.5;
  
  
}

img{
    max-width: 70%;
    border-radius: 10px;
    height: auto;
  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  
}
main {
  
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}


.description{
  text-align:justify;
}

  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0px;
  }

  .containerin {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }

  h1, h2, h3, p {
    text-align: center;
  }

  .gif-image {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  @media (max-width: 600px) {
    /* Adjust styles for smaller screens */
    .container {
      padding: 0px;
    }
    .containerin{
      padding: 20px;
    }
  }

  .toc-list {
    list-style: none;
    padding: 0;
  }

  .toc-list li {
    margin-bottom: 8px;
    position: relative;
    padding-left: 20px; /* Space for the dot */
  }

  .toc-list a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
  }

  .toc-list a:hover {
    color: #0070f3; /* Change the color on hover */
  }

  .toc-container {
    background-color: #f8f9fa; /* Background color */
    border: 1px solid #dee2e6; /* Border color */
    border-radius: 8px; /* Border radius for rounded corners */
    padding: 16px; /* Padding inside the border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth effect */
    margin-top:10px;
    
  }
  .toc-list li::before {
    content: '•'; /* Unicode character for a dot */
    position: absolute;
    left: 0;
    
    
  }
  .toc-list li:hover {
    color: #0070f3; /* Change the color on hover */
  }

  .image-description {
    max-width: 70%;
    margin-top: 0px;
    padding: 10px;
    border-radius: 10px;
    background-color: #6d6d6d; /* Background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color:#f8f9fa;
  }

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

/* Add these styles to your global CSS or style tag */
.toggle-container {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.toggle-label {
  margin-left: 10px;
  font-size: 14px;
  color: #333;
}

.night-mode {
  background-color: #333;
  color: white;
}

.night-mode-label {
  color: white;
}

.sun-icon {
  margin-right: 6px;
}

       /* Custom styling for the horizontal line */
       hr {
        color: #333; /* Line color */
        background-color: #333; /* Background color (if visible) */
        height: 20px; /* Line thickness */
        border: none; /* Remove default border */
        margin: 20px 0; /* Margin above and below the line */
    }
.wave-container{
  margin-top:15vh;
  margin-bottom:30vh;
}
    .wave {
      z-index: 1;
      display: block;
      width: 100vw;
      height: 200px;
      background-color: #000000;

      --mask:
      radial-gradient(56.84px at 50% calc(100% + 46.50px),#0000 calc(99% - 3px),#000 calc(101% - 3px) 99%,#0000 101%) calc(50% - 60px) calc(50% - 16.5px + .5px)/120px 33px repeat-x,
      radial-gradient(56.84px at 50% -46.5px,#0000 calc(99% - 3px),#000 calc(101% - 3px) 99%,#0000 101%) 50% calc(50% + 16.5px)/120px 33px repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
    }
  
    .box {
      position: absolute;
      z-index: 10;
      display: block;
     
      width:100vw;
      height: 200px;
      box-sizing: border-box; /* Include padding and border in total width/height */
      background-color: #ffffff;
    }